@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MG";
  src: url("../public/fonts/Megrim 500.ttf");
}

@font-face {
  font-family: "MG";
  src: url("../public/fonts/Megrim 500.ttf");
}

@layer components {
  .modal-base {
    @apply fixed w-full h-full bg-gray-900 bg-opacity-50 flex justify-center items-center duration-500 animate-fade;
  }
  .flex-col-center {
    @apply flex flex-col items-center;
  }
  .icon-base {
    @apply p-0.5 hover:scale-150 rounded-md duration-150;
  }
}
